#btn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    gap: 10px;
}
#btn button {
    width: 200px;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 700px;
    width: 960px;
    /*flex-shrink: 5;*/
    margin: auto;
}
.layer {
    display: flex;
    flex-wrap: wrap;
}
.gridDiv {
    display: flex;
    outline: 2px outset pink;
    padding: 0;
    background-color: white;
}
.size1 {
    width: 30px;
    height: 30px;
}
.size2 {
    width: 15px;
    height: 15px;
}
.size3 {
    width: 10px;
    height: 10px;
}
.size4 {
    width: 7px;
    height: 7px;
}